.pokemonDetails {
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 2%;
  background-color: rgba(255, 255, 0, 0.4);
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-bottom: 4%;
  padding-top: 2%;
}
.top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2%;
  background-color: rgba(30, 144, 255, 0.8);
  font-weight: bold;
}

.detailName {
  color: yellow;
}

.stats {
  display: flex;
  justify-content: baseline;
  align-items: center;
}

ul {
  list-style: none;
}

.mid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2%;
}
.imagePokemon {
  width: 50%;
  display: flex;
}
.imagePokemon img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.bot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(30, 144, 255, 0.8);
}

.bot img {
  width: 50%;
  object-fit: contain;
}

.type1 {
  height: 70%;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.type2 {
  width: 20%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.typeNull {
  display: none;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading img {
  object-fit: contain;
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
  .loading img {
    object-fit: contain;
    width: 80%;
  }
}
