/* .home {
  background: url("https://w0.peakpx.com/wallpaper/959/262/HD-wallpaper-pokeball-pokemon-pocket-monster-grass.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

.pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
