.pagination {
  display: flex;
  background-color: yellow;
  justify-content: center;
  margin-bottom: 1%;
}

.pagination input {
  background-color: rgba(0, 0, 255, 0.6);
}

.buttons {
  display: flex;
}
.buttons input {
  display: flex;
  margin: 2%;
}

.selectPage {
  color: yellow;
  font-weight: bold;
  border: solid black;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  .pagination {
    display: flex;
    justify-content: flex-start;
  }
}
