.background {
  background: url("https://pbs.twimg.com/media/DQum78SUMAIqYzS?format=jpg&name=large")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.landing {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 600px;
}

.start {
  background-color: rgba(255, 255, 0, 0.4);
  width: 20%;
  border-radius: 20%;
}

.start2 {
  background-color: rgba(255, 255, 0, 1);
  width: 20%;
  border-radius: 20%;
}

.start2 img {
  width: 70%;
}

.start img {
  width: 50%;
}

.logo {
  width: 50%;
}
