.header {
  display: flex;
  height: 100px;
  background-color: yellow;

  justify-content: space-between;
  align-items: center;
}

img {
  object-fit: contain;
  height: 100%;
}

.header img {
  width: 50%;
}

.newPokemon {
  background-color: rgba(0, 0, 255, 0.6);
  border: solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-weight: bold;
  color: yellow;
}

a {
  outline: none;
  text-decoration: none;
  color: yellow;
}
