.header {
  display: flex;
  height: 100px;
  background-color: yellow;

  justify-content: space-between;
  align-items: center;
}

img {
  object-fit: contain;
  height: 100%;
}

.header img {
  width: 50%;
}
